-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: smriticcare
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `alert`
--

/*!40000 ALTER TABLE `alert` DISABLE KEYS */;
/*!40000 ALTER TABLE `alert` ENABLE KEYS */;

--
-- Dumping data for table `caregiverinvite`
--

/*!40000 ALTER TABLE `caregiverinvite` DISABLE KEYS */;
/*!40000 ALTER TABLE `caregiverinvite` ENABLE KEYS */;

--
-- Dumping data for table `caregiverpatient`
--

/*!40000 ALTER TABLE `caregiverpatient` DISABLE KEYS */;
INSERT INTO `caregiverpatient` (`id`, `caregiverId`, `patientId`, `createdAt`, `updatedAt`) VALUES ('cmu1ojvdh0000qwvzt5c65vku','cmttxkwtl00004gvzjsfdaqz4','cmtsdxf6m0000psvzg66bvnii','2026-09-14 20:13:04.279','2026-09-14 20:13:04.279');
/*!40000 ALTER TABLE `caregiverpatient` ENABLE KEYS */;

--
-- Dumping data for table `cognitivescore`
--

/*!40000 ALTER TABLE `cognitivescore` DISABLE KEYS */;
/*!40000 ALTER TABLE `cognitivescore` ENABLE KEYS */;

--
-- Dumping data for table `emergencycontact`
--

/*!40000 ALTER TABLE `emergencycontact` DISABLE KEYS */;
/*!40000 ALTER TABLE `emergencycontact` ENABLE KEYS */;

--
-- Dumping data for table `game`
--

/*!40000 ALTER TABLE `game` DISABLE KEYS */;
/*!40000 ALTER TABLE `game` ENABLE KEYS */;

--
-- Dumping data for table `gameresult`
--

/*!40000 ALTER TABLE `gameresult` DISABLE KEYS */;
/*!40000 ALTER TABLE `gameresult` ENABLE KEYS */;

--
-- Dumping data for table `memory`
--

/*!40000 ALTER TABLE `memory` DISABLE KEYS */;
/*!40000 ALTER TABLE `memory` ENABLE KEYS */;

--
-- Dumping data for table `patientlocation`
--

/*!40000 ALTER TABLE `patientlocation` DISABLE KEYS */;
INSERT INTO `patientlocation` (`id`, `patientId`, `latitude`, `longitude`, `accuracy`, `updatedAt`, `createdAt`) VALUES ('cmtv1c7h0000a9svzujo72tvk','cmtu4l9670000i8vz7guxg1v5',18.44704,73.9372782,100,'2026-09-10 07:18:43.504','2026-09-10 04:36:38.484'),('cmu1p6k4800003cvzp50c43hv','cmtsdxf6m0000psvzg66bvnii',18.4806406,73.9338242,16.905000686645508,'2026-09-15 11:48:18.075','2026-09-14 20:30:42.776');
/*!40000 ALTER TABLE `patientlocation` ENABLE KEYS */;

--
-- Dumping data for table `task`
--

/*!40000 ALTER TABLE `task` DISABLE KEYS */;
/*!40000 ALTER TABLE `task` ENABLE KEYS */;

--
-- Dumping data for table `user`
--

/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-16  3:03:37
